#mainPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 30px;
}

#mainPost form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainPost form * {
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
    width: 20em;
    height: 3em;
    z-index: 1;
    box-sizing: border-box;
}

#mainPost form input {
    outline: none;
    border: 2px solid rgb(4, 0, 107);
    transition-duration: 1s;

}

#mainPost textarea {
    width: 30em;
    height: 10em;
    border: 2px solid rgb(4, 0, 107);
    padding: 10px;
    outline: none;
    text-align: center;
    transition-duration: 1s;
}

#mainPost label {
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 10px;
    position: absolute;
    top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgba(128, 128, 128, 0.808);
    font-weight: bold;
    transition-duration: 0.5s;
    z-index: 0;
}

#mainPost input:focus+label,
#mainPost input:valid+label {
    border: 2px solid rgb(4, 0, 107);
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: rgb(4, 0, 107);
    color: rgb(255, 255, 255);
    transform: translateY(-20px);
    z-index: 2;
}

#mainPost input:focus,
#mainPost textarea:focus {
    border-radius: 10px;
}

#mainPost .postButton {
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(29, 172, 0);
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

#mainPost .postButton:hover {
    position: relative;
    border: 1px dashed rgb(29, 172, 0);
    border-radius: 20px;
    background-color: white;
    color: rgb(29, 172, 0);
}