#mainPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 50px;
}

#mainPost form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainPost form * {
    width: 10em;
    height: 2em;

}

#mainPost input+label {
    position: relative;
    top: -25px;
    background-color: rgb(255, 255, 255);
    color: rgba(128, 128, 128, 0.808);
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    transition-duration: 0.2s;
}

#mainPost input:focus+label,
#mainPost input:valid+label {
    top: -40px;
}

#mainPost textarea{
    width: 20em;
    height: 10em;
    padding:10px;
    text-align: center;
}

#mainPost .postButton{
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(29, 172, 0);
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

#mainPost .postButton:hover {
    position: relative;
    border: 1px dashed rgb(29, 172, 0);
    border-radius: 20px;
    background-color: white;
    color: rgb(29, 172, 0);
}

#postList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postLine {
    height: 8em;
    width: 80%;
    margin: 10px;
    border: 5px solid white;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.425);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.postLine h2 {
    color: white;
    font-size: 20px;
}

.postLine p {
    color: red;
    font-size: 12px;
}

.postLine .timestamp,
.timestamp {
    font-size: 10px;
    color: rgb(71, 71, 74)
}

#mainPostPage {
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "postImage postDetail"
        "postTimestamp postDetail"
    ;
}

.postImage {
    grid-area: postImage;
    width: 90%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.postTimestamp {
    grid-area: postTimestamp;
    font-size: 12px;
    color: rgb(71, 71, 74);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    justify-self: start;
    align-items: start;
    justify-items: start;
}

.postDetail {
    grid-area: postDetail;
    padding: 10px;
    box-sizing: border-box;
}

.deleteButton {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.deleteButton:hover {
    position: relative;
    border: 1px dashed red;
    border-radius: 20px;
    background-color: white;
    color: red;
}